<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"></th:block>
<body>
<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5">Sign in</h3>
                        <div th:if="${bad_credentials}" class="alert alert-danger pt-5" role="alert">
                            This username and password combination does not exist!
                        </div>
                        <div class="form-outline mb-4">
                            <input type="text"
                                   required minlength="6" maxlength="20" ;
                                   id="typeEmailX-2"
                                   class="form-control form-control-lg"/>
                            <label class="form-label" for="typeEmailX-2">Username</label>
                        </div>

                        <div class="form-outline mb-4">
                            <input type="password" required minlength="8" maxlength="20" id="typePasswordX-2" class="form-control form-control-lg"/>
                            <label class="form-label" for="typePasswordX-2">Password</label>
                        </div>

                        <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>

                        <hr class="my-4">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<th:block th:include="~{fragments/footer}"></th:block>
</body>
</html>